
.contactContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.contactHeader{
  background-image: url("./Images/Contact.png");
  width: 100vw;
  height: 25vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.EmailFormcontainer{
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  justify-content: center;
  text-align: left;
  align-items: center;
  vertical-align: top;
  background-image: url("./Images/ContactForm.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
.form-control{
  font-size: 2rem;
}

.contactme {
  text-align: center;
  align-items: center;
  align-self: center;
margin: auto;
  margin-bottom: 2vh;
  font-family: 'Patrick Hand', cursive;
  background-color:  #FCF9C6;
width: 70vw;
padding: 1rem;
font-size: 2rem;
}

.contact {
  color: white;
  margin: 1%;
}

.gdcvLinkCon a{
  color: black;
}
.wdcvLinkCon a{
  color: black;
}

.formItem{
margin: auto;
margin-top: 2rem;
}

.formItemBtn{
  width: 10vw;
  height: 5vh;
  

}
.formItemBtn input{
  width: 25vw;
  height: 5.5vh;
  font-size: 2rem;
}

@media(min-width:65rem)
{

  .contactHeader{
    background-image: url("./Images/Contact.png");
    width: 100vw;
    height:90vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact {
    color: white;
    margin: 1%;

  }

  .gdcvLinkCon a{
    color: black;

  }
  .wdcvLinkCon a{
    color: black;

  }

  .EmailFormcontainer{
    display: flex;
    flex-direction: column;
    font-size:2rem;
    justify-content:right;
    text-align:right;
    align-items: right;
    vertical-align: top;
    background-image: url("./Images/ContactForm.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom:4rem;
    padding-bottom: 2rem;
    height:120vh;
  }
  .EmailFormcontainer h1{
    font-size:3rem;
    margin: auto;
  }
  .form-control{
    font-size:2.5rem;

    text-align: center;
    width:35vw;
  }
  .formItemBtn input{
    width:15vw;
    height:4vh;
    font-size:1.5rem;
  }

  .contactme {
    text-align: center;
    align-items: center;
    align-self: center;
    font-family: 'Patrick Hand', cursive;
    background-color:  #FCF9C6;
  width: 70vw;
  height: 25vh;
  padding: 1rem;
  font-size:1.8rem;
  margin: auto;

  }
  .contactme1 {
    color: rgb(0, 0, 0);
  }

}
@keyframes wiggle{
  0%{
    transform:rotateZ(0);
  }
  50%{
    transform:rotateZ(-5deg);
  }
  100%{

      transform:rotateZ(5deg);
  }
}
