footer {

  color: white;
  background-color: grey;
  position: relative;
  height: 20vh;
  width: 100%;
  min-height: 20em;
  text-align: center;
  overflow: hidden;
  z-index: -1;
  margin:0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: auto;
}
footer .Development {

  color: white;
  background-color: lightblue;
  position: relative;
  height: 20vh;
  width: 100%;
  min-height: 20em;
  text-align: center;
  overflow: hidden;
  z-index: -1;
  margin:0;
  padding:0;
}

footer  .GameDevelopment  {
  font-family: 'Henny Penny', cursive;
  color: white;
  background-image: url("Images/AwesomeHeaderWBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: .5%;
  position: relative;
  height: 100%;
  min-height: 20em;
  text-align: center;
  overflow: hidden;
}


footer .down-below {
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
overflow: hidden;
font-size: 1.5rem;
  width: 120vw;
  height: 100%;
}


.footerLogo {
  background-image: url("Images/logo2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 200px;
  width: 200px;
  z-index:10;
  margin:auto;
}

.contact a{
  color: rgb(21, 182, 74);
  font-size:2rem ;
}


@media (min-width: 65rem)
{
  footer {

    color: white;
    background-image: linear-gradient(rgb(129, 127, 127),rgb(43, 42, 42));
    position: relative;
    height:35vh;
    width: 100%;
    min-height: 20em;
    text-align: center;
    overflow: hidden;
    z-index: -1;
    margin:0;
    padding: 0;
  }
  
  .container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: auto;
  }
  footer .Development {
  
    color: white;
    background-color: lightblue;
    position: relative;
    height:100%;
    width: 100%;
    min-height:20em;
    text-align: center;
    overflow: hidden;
    z-index: -1;
    margin:0;
    padding:0;
  }
  
  footer  .GameDevelopment  {
    
    color: white;
    background-image: url("Images/AwesomeHeaderWBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: .5%;
    position: relative;
    height: 100%;
    min-height: 20em;
    text-align: center;
    overflow: hidden;
  }
  
  
  /* footer .down-below {
    border-radius: 50%;
    margin: auto;
    background-color: black;
    position: absolute;
    top: 50%;
  overflow: hidden;
  font-size: 3.5rem;
    width: 120vw;
    height: 35vh;
  } */
  
  footer .down-below {
    border-radius: 50%;
    margin: auto;
    background-image: linear-gradient(rgb(0, 0, 0),rgb(66, 66, 66));
    position: absolute;
    top: 50%;
  overflow: hidden;
  font-size: 1.5rem;
    width: 120vw;
    height: 35vh;
  }
  
  .footerLogo {
    background-image: url("Images/logo2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:200px;
    width: 200px;
    z-index:10;
    margin:auto;
  }

  .info{
    font-size: 1rem;
  }
  
  .contact a{
    color: rgb(21, 182, 74);
    font-size:1.2rem ;
  }
  .contact a:hover{
    color: rgb(50, 131, 77);
    font-size:1.2rem ;
    cursor: pointer;
  }

}