footer {

  color: white;
  background-color: grey;
  position: relative;
  height: 20vh;
  width: 100%;
  min-height: 20em;
  text-align: center;
  overflow: hidden;
  z-index: -1;
  margin:0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: auto;
}
footer .Development {

  color: white;
  background-color: lightblue;
  position: relative;
  height: 20vh;
  width: 100%;
  min-height: 20em;
  text-align: center;
  overflow: hidden;
  z-index: -1;
  margin:0;
  padding:0;
}

footer  .GameDevelopment  {
  fontFamily: 'Patrick Hand';
  color: white;
  background-image: url("Images/AwesomeHeaderWBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: .5%;
  position: relative;
  height: 100%;
  min-height: 20em;
  text-align: center;
  overflow: hidden;
}


footer .down-below {
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 50%;
overflow: hidden;
font-size: 1.5rem;
  width: 120vw;
  height: 100%;
}


.footerLogo {
  background-image: url("Images/logo2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 200px;
  width: 200px;
  z-index:10;
  margin:auto;
}

.contact a{
  color: rgb(21, 182, 74);
  font-size:2rem ;
}