/*
  font-family: 'Fredoka One', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Patrick Hand', cursive;
  font-family: 'Acme', sans-serif; */
* {
  box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    margin: 0;
}

.neutral {


}
div > .neutral {
  background-color:lightgrey;
}
.neutral h1 {
  font-family: 'Fredoka One', cursive;
  display: inline-block;
  font-size: 3rem;
}

.neutral h1:hover {
display: inline-block;
  animation: wiggle-nudge 100ms ease-out;

}

.neutral .dltt{
  font-family: 'Fredoka One', cursive;
  display: inline-block;
  font-size: 1.2rem;
  margin: auto;
  margin-right:1rem;
}

.neutral .dltt:hover {
display: inline-block;
  animation: wiggle-nudge 100ms ease-out;

}

.neutral .themeButton {
  background-color:#ACB992;
    font-family: 'Patrick Hand', 'Philosopher', sans-serif;
  border: none;
  margin-right: 1rem;
    animation: wiggle 200ms 1s 8 alternate;
    box-shadow: 1px 1px 1px 0px grey;
}


.neutral .intro img{
margin-top:2rem;
margin-bottom: 2rem;
display: inline-block;
width:55%;
vertical-align: middle;
}

.neutral .intro h4 {
    font-family: 'Fredoka One', cursive;
  display: inline-block;
margin-right:10vw;
vertical-align: middle;
  animation: rotateHeading 0.8s;
}
.neutral h4 .intro:hover {
  text-align: center;
    animation: wiggle-nudge 100ms ease-out;
}

.intro_sum {
  font-family: 'Patrick Hand', 'Philosopher', sans-serif;
  font-size: 1.5rem;
  color: black;
  text-align: center;
  padding-left: 9px;
}

.neutral h2 {
    font-family: 'Fredoka One', cursive;
  text-align: center;
  display: block;
  margin: auto;
  animation: wiggle-nudge 100ms ease-out;
}
.neutral h2 :hover {
  text-align: center;
  animation: wiggle-nudge 100ms ease-out;
}
.neutral .logo {
  background-image: url("Images/logo1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 40vh;
  width: 60vw;
  display: block;
  z-index: 5;
margin: auto;
}

.flex-container{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
}

.neutral .homecol {
  background-color: #9EB23B;
  margin: auto;
  text-align: center;
  height:30vh;
  margin-top: .5rem;
  margin-bottom: 1rem;
}
.neutral .homecol:hover {

  animation: flip-gridBoxs 1s ease-out forwards;
}



.hot .changable{
  background-color: #FFC074;
}
.hot h1 {
font-family: 'Fredoka One', cursive;
display: inline-block;
font-size: 3rem;
}
.hot h1:hover {
display: inline-block;
animation: wiggle-nudge 100ms ease-out;

}
.hot .intro h4 {
display: block;
text-align:center;

animation: rotateHeading 0.8s;
transform-origin: left;
font-size: 2rem;
}
.hot h4 .intro:hover {
text-align: center;
  animation: wiggle-nudge 100ms ease-out;
}

.hot h2 {
text-align: center;
display: block;
margin: auto;
animation: wiggle-nudge 100ms ease-out;
}
.hot h2 :hover {
text-align: center;
animation: wiggle-nudge 100ms ease-out;
}

.hot .dltt{
font-family: 'Fredoka One', cursive;
display: block;
font-size: 1.2rem;
margin: auto;
margin-left: 2%;
text-align: left;
}

.hot .dltt:hover {
animation: wiggle-nudge 100ms ease-out;
}

.hot .themeButton {
background-color:#FFD07F;
  animation: wiggle 200ms 1s 8 alternate;
  display:block;
box-shadow: 1px 1px 1px 0px grey;
}

.hot .intro {
text-align: left;
display:block;
width: 100%;
border-bottom: 2px dotted black;
flex-direction:row;
flex-wrap: wrap;
}
.hot .intro img{
display:block;
width: 90vw;
margin: auto;
margin-top:5%;

}
.hot .logo {
background-image: url("Images/logo2.png");
position: static;
background-repeat: no-repeat;
width: 40vw;
height: 40vh;
background-size: 100% 100%;
transform: scale(120%);
margin: auto;
}
.hot .flex-container{

display:inline-flex;
flex-wrap:wrap;
flex-direction:row;
margin:auto;
overflow: hidden;
width: 100%
}

.hot .homecol {
background-color:#F77E21;
margin: auto;
text-align: left;
height:28.5vh;
margin-top: 2rem;
margin-bottom: 1rem;
}
.hot .homecol:hover {

animation: flip-gridBoxs 1s ease-out forwards;
}


@media(min-width:50rem)
{
  div > .neutral {
    margin: 0 20vw 0 20vw;

  }

  .neutral h1 {
    font-family: 'Fredoka One', cursive;
    display: inline-block;
    font-size: 3rem;
  }
  .neutral h1:hover {
  display: inline-block;
    animation: wiggle-nudge 100ms ease-out;

  }
  .neutral .intro h4 {
    display: inline-block;
    text-align:left;
  margin:auto;
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: 0;
  width:30%;
  height: 20%;
    animation: rotateHeading 0.8s;
    transform-origin: left;
font-size: 2rem;
  }
  .neutral h4 .intro:hover {
    text-align: center;
      animation: wiggle-nudge 100ms ease-out;
  }

  .neutral h2 {
    text-align: center;
    display: block;
    margin: auto;
    animation: wiggle-nudge 100ms ease-out;
  }
  .neutral h2 :hover {
    text-align: center;
    animation: wiggle-nudge 100ms ease-out;
  }

  .neutral .dltt{
    font-family: 'Fredoka One', cursive;
    display: inline-block;
    font-size: 1.2rem;
    margin: auto;
  }

  .neutral .dltt:hover {
  display: inline-block;
    animation: wiggle-nudge 100ms ease-out;

  }

  .neutral .themeButton {
    background-color: #ACB992;
    border: none;
      animation: wiggle 200ms 1s 8 alternate;
      margin-left:1.8%;
  }

  .neutral .intro {
  text-align: left;
  display:inline-flex;
  width: 100%;
    border-bottom: 2px dotted black;
    flex-direction:row;
    flex-wrap: wrap;
  }
  .neutral .intro img{
  display: inline-block;
  height:40vh;
  width: auto;

  }

  .intro_sum  {
    display:inline-block;
text-align: left;
width:100%;
  }


  .neutral .logo {
    background-image: url("Images/logo1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    width: 400px;
    display: block;
    z-index: 5;
  margin: auto;
  }

    .neutral .flex-container{

    display:inline-flex;
    flex-wrap:wrap;
    flex-direction:row;
    margin:auto;
    overflow: hidden;
    width: 100%

  }


  .neutral .homecol {
    background-color: #9EB23B;
    margin: auto;
    text-align: left;
    height:27.5vh;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 100%;
  }
  .neutral .homecol:hover {

    animation: flip-gridBoxs 1s ease-out forwards;
  }


    .hot .changable{
          height: 100%;
      background-color: #FFC074;
      margin: auto;
    }
.hot h1 {
    font-family: 'Fredoka One', cursive;
    display: block;
    font-size: 3rem;
margin: auto;
  }
  .hot h1:hover {
  display: block;
    animation: wiggle-nudge 100ms ease-out;

  }
  .hot .intro h4 {
    display: block;
    text-align:center;
width: 100%;
    animation: rotateHeading 0.8s;
    transform-origin:center;
font-size: 2rem;
  }
.hot h4 .intro:hover {
    text-align: center;
      animation: wiggle-nudge 100ms ease-out;
  }

  .hot h2 {
    text-align: center;
    display: block;
    margin: auto;
    animation: wiggle-nudge 100ms ease-out;
  }
  .hot h2 :hover {
    text-align: center;
    animation: wiggle-nudge 100ms ease-out;
  }

  .hot .dltt{
    font-family: 'Fredoka One', cursive;
    display: block;
    font-size: 1.2rem;
    margin: auto;
    margin-left: 2%;
  }

  .hot .dltt:hover {
  display: inline-block;
    animation: wiggle-nudge 100ms ease-out;

  }

  .hot .themeButton {
    background-color:#FFD07F;
    border: none;
      animation: wiggle 200ms 1s 8 alternate;
  }

  .hot .intro {

  display:flex;
  width: 100%;
    border-bottom: 2px dotted black;
    flex-direction:row;
    flex-wrap: wrap;
  }
  .hot .intro img{
  display:block;
  height:40vh;
  width: auto;

  }
  .hot .logo {
    background-image: url("Images/logo2.png");
    position: static;
    background-repeat: no-repeat;
    width: 40vw;
    height: 50vh;
    background-size: 100% 100%;
margin: auto;
  }
  .hot .flex-container{

  display:inline-flex;
  flex-wrap:wrap;
  flex-direction:row;
  margin:auto;
  overflow: hidden;
  width: 100%

}


.hot .homecol {
  background-color:#F77E21;
  margin: auto;
  text-align: left;
  height:28.5vh;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.hot .homecol:hover {

  animation: flip-gridBoxs 1s ease-out forwards;
}

}
@keyframes rotateHeading {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.ci {
  padding: 0 13%;
  margin-bottom: 70px;
}

.about_me_h2 {
  text-align: center;
  font-size: 2.3rem;
  font-family: 'Bevan', cursive;
  padding-bottom: 2%;
}

.about_me_p {
  font-size: 1.5rem;
  font-family: 'Oxygen', sans-serif;
}

.hot .themeButton {
  background-color: #FFD07F;
  border: none;
  margin-right: 10rem;
  margin-left:1.8%;
      animation: wiggle 200ms 1s 8 alternate;
      height: 100%
}





.about_me {
  position: relative;
  left: 25%;
  text-align: center;
  margin-top: 100px;
  background-color: #9EB23B;
  width: 50%;
  height: 100%;
}

.links .icon {
  color: black;
  text-align: center;
}

.links {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
  line-height: 1.5em;
  text-align: center;
  background-color: #DBE8D4;
  border-radius: 50%;
  margin-left: 1em;
  margin-right: 1em;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

hr{
border-top: 10px dotted ;
margin: 0;
}




@keyframes wiggle{
  0%{
    transform:rotateZ(0);
  }
  50%{
    transform:rotateZ(-10deg);
  }
  100%{

      transform:rotateZ(10deg);
  }
}

@keyframes wiggle-nudge{
  0%{
    transform: translateX(0px);
  }
  50%{
      transform: translateX(-3px);
  }
  100%{

      transform: translateX(3px);
  }
}

@keyframes flip-gridBoxs{
  0%{
    transform:rotateY(0);
  }
  50%{
    transform:rotateY(160deg);
  }
  100%{

      transform:rotateY(360deg);
  }
}
