

.martialArtsContainer{
    font-size: 3rem;
}

.martialArtsAcheivments{
    ul{
        display: flex;
        flex-direction: row;
        margin: 2rem;
        justify-content: center;
        
    }
}