
/*font-family: 'Fira Sans Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.devBody{
    font-family: 'Patrick Hand', cursive;
    overflow: hidden;

}

.devHeader h1{
  text-align: center;
font-family: "WebDevHeader",sans-serif;
font-size:3rem;
margin: auto;
margin-bottom: 5%;
}

.webDevProfile{
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: #FFE6E6;
  opacity: .9;
  text-align: center;
  background-image:url("./Images/webDevInfoBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 75vw;
  height: 20vh;
  padding:0;
  padding-top: .5rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  color:rgb(0, 0, 0);
  
}


.webDevIntroLeft{
  align-items: center;
  justify-content: center;
  justify-items: center;
  opacity: .9;
  text-align: center;
  background-image:url("./Images/webDevInfoBgTwo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 75vw;
  height: 20vh;
  padding:0;
  padding-top: .5rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  color:rgb(0, 0, 0);
  margin-left: 25vw;
  margin-top: 2.5rem;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  opacity: .7.5;
}
.webDevIntroLeft h4{
  font-size:2.5rem;
  text-align: left;
  margin:10%;
  font-family: 'Fira Sans Condensed', sans-serif;
}


 .webDevProfileNxt{
  background-color: #FFE6E6;
  width: 80vw;
  height: 40vh;
  margin-top:15%;
      box-shadow: 1px 1px 1px 1px grey;
}

.webDevProfile h4{
  font-size:2.5rem;
  text-align: left;
  margin:10%;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.gallery {
  --s: 30vw; /* control the size */
  --g: 10px;  /* control the gap */
  display: grid;
  text-align: center;
  margin: 10rem 7rem;
}
.gallery > img {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1.15;
  object-fit: cover;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50% ,75% 100%, 25% 100%, 0 50%);
    transform: translate(var(--_x,0),var(--_y,0)) scale(var(--_t,1));
  cursor: pointer;
filter: grayscale(80%);
transition: .2s linear;
}
.gallery > img:hover {
  filter: grayscale(0);
  z-index: 1;
  --_t: 1.2;
}
.gallery > img:nth-child(1) { --_y: calc(-100% - var(--g)); }
.gallery > img:nth-child(7) { --_y: calc( 100% + var(--g)); }
.gallery > img:nth-child(3),
.gallery > img:nth-child(5) { --_x: calc(-75% - .87*var(--g)); }
.gallery > img:nth-child(4),
.gallery > img:nth-child(6) { --_x: calc( 75% + .87*var(--g)); }
.gallery > img:nth-child(3),
.gallery > img:nth-child(4) { --_y: calc(-50% - .5*var(--g)); }
.gallery > img:nth-child(5),
.gallery > img:nth-child(6) { --_y: calc( 50% + .5*var(--g)); }

.GP_MainW{
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  margin:auto;
  align-items: center;
  height: 90vh;
}
.GP_MainW h1{
  margin: auto;
  font-size: 4.5rem;
  font-family: 'Fredoka One', cursive;
  text-decoration: underline;
  margin-bottom: 1.8rem;
  align-items: center;
  color: white;
}

.Gp_boxW .linkz h4 a{
  color: white;
  background-color: black;
  margin: 0;
  padding: 2%;
  font-size: 1.3rem;
}


.Gp_boxW{
  display: inline-block;
  text-align: center;
  margin: 3%;
  vertical-align: middle;
  background-image: url("Images/AwesomeHeader1.jpg");
  background-size: contain;
  background-position: center;
  border-radius: 5%;
  height: 40vh;
  width: 80vw;
}
.Gp_boxW:hover{
  display: inline-block;
  text-align: center;
  margin: 2%;
  background-color:grey;
  vertical-align: middle;
  height: 45vh;
  width: 85vw;
}


@media(min-width:65rem)
{

  .wordCloudSpan{

  }

  .webDevProfile{
    align-items: center;
    justify-content: center;
    justify-items: center;

    opacity: .9;
    text-align: center;
    background-image:url("./Images/webDevInfoBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 75vw;
    height: 20vh;
    padding:0;
    padding-top: .5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color:rgb(0, 0, 0);
    
  }
  .devHeader h1{
    font-size:8rem;
  }
  .devBody{
    margin-top:12rem;
    background-image: linear-gradient(white, rgb(20, 155, 218));
  }
  .devHeader{
font-family: "WebDevHeader",sans-serif;
animation: wiggle-nudge 100ms ease-out;
  }

  .webDevMidBod{
    width: 60%;
    margin: 10vw;
        background-color: #C6DCE4;
}

.webDevProfile{
  margin-top: 10rem;
}

.webDevProfile h4{
  font-size:4.5rem;
  text-align: center;
  align-items: center;
  align-self:center ;
  margin:auto;
  padding:9rem;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.webDevIntroLeft{
margin-bottom:5rem;
  margin-top: 10rem;

}

.webDevIntroLeft h4{
  font-size:4.5rem;
  text-align: center;
  margin:0%;
  font-family: 'Fira Sans Condensed', sans-serif;
  padding: 9rem;
}

.gallery {
  --s:25vh; /* controls the size */
    --g:80px;  /* control the gap */
  display: grid;
  place-content: center;
  margin: 13rem 7rem;
}

.gallery > img {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1.15;
  object-fit: cover;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    transform: translate(var(--_x,0),var(--_y,0)) scale(var(--_t,1));
  cursor: pointer;
filter: grayscale(80%);
transition: .2s linear;
}
.gallery > img:hover {
  filter: grayscale(0);
  z-index: 1;
  --_t: 1.2;
}

.ClickME{
width:50rem;
height:50rem;
}

.ClickMeContainer{
  display: flex;
  flex-direction: row;
  justify-content:left;
  margin: 0;
text-align:left;
vertical-align: middle;
align-items: center;

}

.ClickMeItem{
justify-content: center;
margin: 0;
vertical-align: middle;
text-align: center;
}

.webSkillTree h4{
  font-size:5.5rem;
  }

.webSkillTree li{
font-size: 4rem;
}

  }



.webDevSkillBod{
  margin: 5%;
  text-align: center;
  display: block;
}

.webDevBot{
    background-color:#FFE6E6;
    width: 60vw;
    height: 30vh;
    margin: auto;
    padding: 8vh 2vw;
    text-align: center;
    margin-right: 0;
    margin-top: 9vh;
    margin-bottom: 9vh;

}
.webDevHr{
  margin: auto;
  width: 4vw;
}


.frameworkBod{
  padding-top: 2%;
  padding-bottom: 5vh;
  display: inline-block;
  width:50%;
vertical-align: top;
text-align: left;
list-style: none;

}
.frameworkBod2{
    padding: 2%;
      display:inline-block;
        width: 50%;
        vertical-align: top;
}

.webDevMidBod{
  width: 80%;
  margin:auto;
border-radius: 2%;
    /*  background-image: linear-gradient(#C6DCE4, rgb(6, 69, 99));*/
      background-color: #C6DCE4;
      font-size:4.5rem;
      display: block;
}

.webDevMidBodOff{
display: none;
}

.skillbar{
  font-size:3.5rem;
  text-align: left;
}

.devBody h3{
  text-align: center;
  margin:auto;
  font-size:4.5rem;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 2px; /* Add top padding */
  padding-bottom: 2px; /* Add bottom padding */
  color: white; /* White text color */
}


.C {width: 92%; background-color: orange;}
.html {width: 90%; background-color: #04AA6D;} /* Green */
.CSS {width: 94%; background-color: #2196F3;} /* Blue */
.JavaScript {width: 75%; background-color: #f44336;} /* Red */
.ReactJS {width: 80%; background-color: #808080;} /* Dark Grey */
.NodeJS {width: 73%; background-color:pink;}
.Python {width: 45%; background-color:lightgreen;}
.Bootstrap {width: 90%; background-color:lightblue;}
.Unity {width: 95%; background-color:Black;}
.SQL{width: 50%; background-color:lightgrey;}
.MongoDB{width: 55%; background-color:#C7D36F;}


.WebDevGp_box{
  height: 40vh;
  width: 40vw;
  /*background-color: #C6DCE4;*/
  background-image: radial-gradient(#0d759b,#C6DCE4);
  display: inline-block;
  margin: 2%;
  color: black;
  box-shadow: 1px 1px 1px 1px grey;
}

.WDlink h4 a{
  color: black;
  animation: wiggle 200ms 1s 8 alternate;
}

.webDevSkillBod button{
animation: wiggle 200ms 1s 8 alternate;
  height: 5vh;
  width: 7vw;
  margin:auto;
  cursor: pointer;
  background-image: radial-gradient(rgb(180, 12, 12),rgb(255, 38, 0));
font-size:3.2rem;
}

.webDevSkillBod button:hover{
  width: 7vw;
  height: 5vh;
animation: wiggle-nudge 100ms ease-out;
background-image: radial-gradient(rgb(223, 223, 223),rgb(255, 38, 0));
  cursor: pointer;
}

.toggle-statsBar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}
.webdisc {

  margin: auto;
  text-align: center;
}
.webdisc ul,
.webdisc h2,
.webdisc h3,
.webdisc h4,
.webdisc {
  list-style: none;
  margin: auto;
  text-align: center;
}

.webSkillTree{
  font-size: 1.8rem;
}

@keyframes wiggle{
  0%{
    transform:rotateZ(0);
  }
  50%{
    transform:rotateZ(-10deg);
  }
  100%{

      transform:rotateZ(10deg);
  }
}










@keyframes wiggle-nudge{
  0%{
    transform: translateX(0px);
  }
  50%{
      transform: translateX(-3px);
  }
  100%{

      transform: translateX(3px);
  }
}
@keyframes blinker {
  50% { opacity: 0.0; }
}
